
<div class="profile-container">

  <section class="inputs">
    <div class="input-box">
      <label>Name</label>
      <input type="text" placeholder="Jesus">
    </div>

    <div class="input-box">
      <label>Last Name</label>
      <input type="text" placeholder="Ramirez">
    </div>

    <div class="input-box">
      <label>Phone Number</label>
      <input type="number" placeholder="994 126 830">
    </div>

    <div class="input-box">
      <label>DNI</label>
      <input type="text" placeholder="78596234">
    </div>

    <div class="input-box email">
      <label>Email</label>
      <input type="email" placeholder="jesus@gmail.com">
    </div>
  </section>

  <section class="wallets">
    <div class="title">
      <h4>Mis Carteras</h4>
    </div>

    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </section>

</div>


